#
# Lumen config
#
APP_DEBUG=true
URL_PREFIX=dashboard/api
LOG_CHANNEL=stderr
APP_TIMEZONE=Europe/Paris
APP_ENV=dev

#
# AWS config
#
AWS_REGION=eu-west-3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#
# App config
#
AWS_DDB_TABLE_NAME=local-trading-book
AWS_DDB_PARTITION_KEY_NAME=pk
AWS_DDB_SORT_KEY_NAME=sk

#
# Cognito config
#
AWS_COGNITO_USER_POOL_ID=eu-west-3_BTXTBYEgg

#
# CoinGecko config
#
COIN_GECKO_API_URL=
